Repository graphql-rust/juniper, pull requests merged in 2023-10, with the labels that each got.

#1196 Merge `juniper_graphql_transport_ws` and `juniper_graphql_ws` crates (#1022)
  .github/workflows/ci.yml
  Cargo.toml
  Makefile
  juniper_actix/Cargo.toml
  juniper_actix/src/lib.rs
  juniper_graphql_transport_ws/CHANGELOG.md
  juniper_graphql_transport_ws/Cargo.toml
  juniper_graphql_transport_ws/LICENSE
  juniper_graphql_transport_ws/README.md
  juniper_graphql_transport_ws/release.toml
  juniper_graphql_transport_ws/src/schema.rs
  juniper_graphql_ws/CHANGELOG.md
  juniper_graphql_ws/Cargo.toml
  juniper_graphql_ws/README.md
  juniper_graphql_ws/src/graphql_transport_ws/client_message.rs
  juniper_graphql_ws/src/graphql_transport_ws/mod.rs
  juniper_graphql_ws/src/graphql_transport_ws/server_message.rs
  juniper_graphql_ws/src/graphql_ws/client_message.rs
  juniper_graphql_ws/src/graphql_ws/mod.rs
  juniper_graphql_ws/src/graphql_ws/server_message.rs
  juniper_graphql_ws/src/lib.rs
  juniper_graphql_ws/src/schema.rs
  juniper_graphql_ws/src/server_message.rs
  juniper_graphql_ws/src/util.rs
  juniper_graphql_ws/src/utils.rs
  juniper_subscriptions/release.toml
  juniper_warp/Cargo.toml
  juniper_warp/examples/subscription.rs
  juniper_warp/src/lib.rs
Labels: enhancement, tooling, breaking-change, subscriptions

#1197 Use `actix-ws` for `juniper_actix` subscriptions
  juniper/src/http/mod.rs
  juniper_actix/CHANGELOG.md
  juniper_actix/Cargo.toml
  juniper_actix/src/lib.rs
  juniper_graphql_ws/CHANGELOG.md
  juniper_graphql_ws/src/graphql_transport_ws/mod.rs
  juniper_warp/src/lib.rs
Labels: enhancement, integration, subscriptions, Actix

#1121 Fix typos and add GitHub Action job for /book
  .codespellrc
  .github/workflows/ci.yml
  Makefile
  book/src/advanced/dataloaders.md
  book/src/advanced/multiple_ops_per_request.md
  book/src/types/interfaces.md
  book/src/types/objects/using_contexts.md
  book/src/types/other-index.md
Labels: enhancement, docs
