Repository graphql-rust/juniper, pull requests merged in 2023-11, with the labels that each got.

#1199 Expose name and alias in `LookAheadMethods`
  juniper/CHANGELOG.md
  juniper/src/executor/look_ahead.rs
Labels: enhancement, api

#1200 Avoid an unecessary clone in `LookAheadMethods::children`
  juniper/CHANGELOG.md
  juniper/src/executor/look_ahead.rs
Labels: enhancement, breaking-change, api

#1088 Axum integration
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  juniper/README.md
  juniper/release.toml
  juniper/src/http/mod.rs
  juniper/src/tests/fixtures/starwars/schema.rs
  juniper_actix/Cargo.toml
  juniper_actix/README.md
  juniper_actix/src/lib.rs
  juniper_axum/CHANGELOG.md
  juniper_axum/Cargo.toml
  juniper_axum/LICENSE
  juniper_axum/README.md
  juniper_axum/examples/custom.rs
  juniper_axum/examples/simple.rs
  juniper_axum/release.toml
  juniper_axum/src/extract.rs
  juniper_axum/src/lib.rs
  juniper_axum/src/response.rs
  juniper_axum/src/subscriptions.rs
  juniper_axum/tests/http_test_suite.rs
  juniper_axum/tests/ws_test_suite.rs
  juniper_graphql_ws/release.toml
  juniper_warp/src/lib.rs
Labels: integration, axum

#1208 Abstract (start, end) from Spanning struct into new struct Span
  juniper/CHANGELOG.md
  juniper/src/executor/mod.rs
  juniper/src/integrations/serde.rs
  juniper/src/lib.rs
  juniper/src/parser/document.rs
  juniper/src/parser/mod.rs
  juniper/src/parser/parser.rs
  juniper/src/parser/tests/lexer.rs
  juniper/src/parser/utils.rs
  juniper/src/parser/value.rs
  juniper/src/types/async_await.rs
  juniper/src/types/base.rs
  juniper/src/types/subscriptions.rs
  juniper/src/validation/input_value.rs
  juniper/src/validation/rules/arguments_of_correct_type.rs
  juniper/src/validation/rules/default_values_of_correct_type.rs
  juniper/src/validation/rules/fields_on_correct_type.rs
  juniper/src/validation/rules/fragments_on_composite_types.rs
  juniper/src/validation/rules/known_argument_names.rs
  juniper/src/validation/rules/known_directives.rs
  juniper/src/validation/rules/known_fragment_names.rs
  juniper/src/validation/rules/known_type_names.rs
  juniper/src/validation/rules/lone_anonymous_operation.rs
  juniper/src/validation/rules/no_fragment_cycles.rs
  juniper/src/validation/rules/no_undefined_variables.rs
  juniper/src/validation/rules/no_unused_fragments.rs
  juniper/src/validation/rules/no_unused_variables.rs
  juniper/src/validation/rules/overlapping_fields_can_be_merged.rs
  juniper/src/validation/rules/possible_fragment_spreads.rs
  juniper/src/validation/rules/provided_non_null_arguments.rs
  juniper/src/validation/rules/scalar_leafs.rs
  juniper/src/validation/rules/unique_argument_names.rs
  juniper/src/validation/rules/unique_fragment_names.rs
  juniper/src/validation/rules/unique_input_field_names.rs
  juniper/src/validation/rules/unique_operation_names.rs
  juniper/src/validation/rules/unique_variable_names.rs
  juniper/src/validation/rules/variables_are_input_types.rs
  juniper/src/validation/rules/variables_in_allowed_position.rs
  juniper/src/validation/visitor.rs
Labels: enhancement, semver::breaking, k::api, k::refactor, a::parsing

#1209 Spanned arguments
  juniper/CHANGELOG.md
  juniper/src/executor/look_ahead.rs
  juniper/src/parser/utils.rs
  juniper/src/types/async_await.rs
  juniper/src/types/base.rs
  juniper/src/types/subscriptions.rs
  juniper/src/types/utilities.rs
Labels: enhancement, semver::breaking, k::api, area::parsing

#1210 Remove `iron` integration
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  book/src/README.md
  book/src/SUMMARY.md
  book/src/quickstart.md
  book/src/servers/index.md
  book/src/servers/iron.md
  book/src/servers/official.md
  book/src/types/objects/using_contexts.md
  juniper/README.md
  juniper/release.toml
  juniper/src/executor/mod.rs
  juniper_iron/CHANGELOG.md
  juniper_iron/Cargo.toml
  juniper_iron/LICENSE
  juniper_iron/README.md
  juniper_iron/examples/iron_server.rs
  juniper_iron/release.toml
  juniper_iron/src/lib.rs
Labels: k::documentation, k::api, lib::iron, k::example, rollback

#1215 Support `anyhow::Error` (#988)
  .github/workflows/ci.yml
  juniper/CHANGELOG.md
  juniper/Cargo.toml
  juniper/src/integrations/anyhow.rs
  juniper/src/integrations/mod.rs
  tests/integration/tests/codegen_object_attr.rs
Labels: k::api, k::integration, feature, lib::anyhow

#1222 Fix `Reject`ion branching in `warp` filters (#1177)
  juniper_warp/CHANGELOG.md
  juniper_warp/Cargo.toml
  juniper_warp/LICENSE
  juniper_warp/examples/subscription.rs
  juniper_warp/src/lib.rs
  juniper_warp/src/response.rs
  juniper_warp/src/subscriptions.rs
  juniper_warp/tests/http_test_suite.rs
Labels: enhancement, k::documentation, k::integration, lib::warp, k::refactor, k::example, feature, k::testing

#1223 Fix handling GET request in `rocket` example (#1098)
  book/src/servers/rocket.md
  juniper_rocket/CHANGELOG.md
  juniper_rocket/README.md
  juniper_rocket/examples/rocket_server.rs
  juniper_rocket/examples/simple.rs
  juniper_rocket/src/lib.rs
  juniper_rocket/tests/http_test_suite.rs
Labels: enhancement, k::documentation, lib::rocket, k::integration, k::example

#1227 Allow disabling introspection queries (#456)
  juniper/CHANGELOG.md
  juniper/src/lib.rs
  juniper/src/schema/model.rs
  juniper/src/validation/mod.rs
  juniper/src/validation/rules/disable_introspection.rs
  juniper/src/validation/rules/mod.rs
  tests/integration/tests/disabled_introspection.rs
Labels: k::api, feature, k::security

#1228 Implement `Clone` and `PartialEq` for `GraphQLResponse` (#103)
  juniper/CHANGELOG.md
  juniper/src/executor/mod.rs
  juniper/src/http/mod.rs
  juniper/src/lib.rs
  juniper/src/parser/lexer.rs
  juniper/src/parser/parser.rs
  juniper/src/validation/context.rs
Labels: enhancement, k::api
