Repository graphql-rust/juniper, pull requests merged in 2024-08, with the labels that each got.

#1271 Add integration for Jiff date/time types
  .github/workflows/ci.yml
  README.md
  book/src/introduction.md
  book/src/types/scalars.md
  juniper/CHANGELOG.md
  juniper/Cargo.toml
  juniper/README.md
  juniper/src/integrations/jiff.rs
  juniper/src/integrations/mod.rs
Labels: k::integration, feature, lib::jiff

#1275 Correct scalars complience
  book/src/types/scalars.md
  juniper/CHANGELOG.md
  juniper/Cargo.toml
  juniper/src/executor_tests/interfaces_unions.rs
  juniper/src/executor_tests/introspection/mod.rs
  juniper/src/integrations/bson.rs
  juniper/src/integrations/chrono.rs
  juniper/src/integrations/chrono_tz.rs
  juniper/src/integrations/jiff.rs
  juniper/src/integrations/time.rs
  juniper/src/integrations/url.rs
  juniper/src/integrations/uuid.rs
Labels: enhancement, semver::breaking, k::integration, k::refactor, lib::bson, lib::chrono, lib::jiff, lib::url, lib::time, lib::uuid

#1277 Add references to known GraphQL scalars
  book/src/types/scalars.md
  juniper/CHANGELOG.md
  juniper/src/integrations/bson.rs
  juniper/src/integrations/chrono.rs
  juniper/src/integrations/time.rs
Labels: enhancement, k::documentation, semver::breaking, k::integration, lib::bson, lib::chrono, lib::time
