Repository graphql-rust/juniper, pull requests merged in 2024-09, with the labels that each got.

#1278 Add Jiff date/time types `Zoned`/`TimeZone`
  book/src/types/scalars.md
  juniper/CHANGELOG.md
  juniper/Cargo.toml
  juniper/src/integrations/jiff.rs
Labels: k::integration, feature, lib::jiff

#1283 Remove transitive dependency on `mio`
  .github/workflows/ci.yml
  juniper_axum/Cargo.toml
Labels: enhancement, k::integration, lib::axum

#1263 Add support for `Request<T>` where `T` is a type that implements `hyper::body::Body` trait
  .github/workflows/ci.yml
  juniper_hyper/CHANGELOG.md
  juniper_hyper/Cargo.toml
  juniper_hyper/README.md
  juniper_hyper/src/lib.rs
Labels: enhancement, semver::breaking, k::api, k::integration, lib::hyper
